/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@nice-blue: #5B83AD;
@turquoise: #1ABC9C;
@green-sea: #16A085;
@emerald: #2ECC71;
@nephritis: #27AE60;
@petermann-river: #3498DB;
@belize-hole: #2980B9;
@amethyst: #9B59B6;
@wisteria: #8E44AD;
@wet-asphalt: #34495E;
@mignight-blue: #2C3E50;
@concrete: #95A5A6;
@asbestos: #7F8C8D;
@clouds: #ECF0F1;
@silver: #BDC3C7;
@alizarin: #E74C3C;
@pomegranate: #C0392B;
@carrot: #E67E22;
@pumpkin: #D35400;
@sun-flower: #F1C40F;
@orange: #F39C12;

html
{
    height: 100%;
}

body
{
    .flex;
    .flexVertical;

    height: 100%;

    background-image: url("../img/background/noisy_net_2X.png");

    color: #cccccc;
}

header
{
    /* debug
    background-color: green;
    */

    height: 50px;
}

footer
{
    /* debug
    background-color: yellow;
    */

    height: 50px;
}

.flex
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flexVertical
{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flexAuto
{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#main
{
    .flex;
    .flexAuto;
}

#toolsContainer
{
    /* debug
    background-color: blue;
    */

    width:200px;
}

#toolsContainer div
{
    margin:5px;
}

#sourcePietContainer
{
    /* debug
    background-color: red;
    */

    .flex;
    .flexVertical;
    .flexAuto;

    min-height: 0px;
    min-width: 0px;

    margin: 20px;
    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

    overflow: auto;
}

#sourcePietContainer > .row
{
    /* debug
    background-color: cyan;
    */

    .flex;
    .flexAuto;
}

#sourcePietContainer > .row > .cell
{
    /* debug
    background-color: purple;
    */

    .flexAuto;

    min-width:20px;
    min-height:20px;
    
    background-image:   linear-gradient(to bottom, rgba(234,234,234, 0) 0%, rgba(229,229,229, 0.1) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:      -o-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(229,229,229, 0.1) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:     -ms-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(229,229,229, 0.1) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:    -moz-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(229,229,229, 0.1) 60%, rgba(217,217,217, 0.1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(229,229,229, 0.1) 60%, rgba(217,217,217, 0.1) 100%);
    
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);

    border-right:1px solid #aaaaaa;
    border-bottom:1px solid #aaaaaa;
}

#sourcePietContainer > .row > .cell:hover
{
    background-image:   linear-gradient(to bottom, rgba(234,234,234, 0) 0%, rgba(129,129,129, 0.2) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:      -o-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(129,129,129, 0.2) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:     -ms-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(129,129,129, 0.2) 60%, rgba(217,217,217, 0.1) 100%);
    background-image:    -moz-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(129,129,129, 0.2) 60%, rgba(217,217,217, 0.1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(234,234,234, 0) 0%, rgba(129,129,129, 0.2) 60%, rgba(217,217,217, 0.1) 100%);
}

/* ======================== */

.button
{
    background-color:#3d4555;
    background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    border:1px solid #000000;
    border-radius:3px;
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.15),inset 0 0 5px rgba(255, 255, 255, 0.05);
    color:#aaaaaa;
    font-family:sans-serif;
    font-size:10pt;
    padding:0.5em;
    text-decoration:none;
    text-shadow:0 1px 0 black;
}

.buttonGroup
{
    display:inline-block;
    font-size:0pt;
}

.buttonGroup>.button
{
    border-radius:0px;
}

.buttonGroup>.button+.button
{
    border-left:none;
}

.buttonGroup>.button:first-child
{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.buttonGroup>.button:last-child
{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.button:hover
{
    background-color:#485164;
}

.button:active{
    background:#323946;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.4),inset 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:focus
{
    outline:none;
}

[class^="icon-"]
{
    display:inline-block;
    width:18px;
    height:18px;

    background-size:18px;
    opacity:0.5;
    
    vertical-align:middle;
}

.icon-add
{
    background-image:url(../img/icon/Batch-master/SVG/add.svg);
}

.icon-remove
{
    background-image:url(../img/icon/Batch-master/SVG/remove.svg);
}

/* ========== Scrollbar ========== */

/*::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #2ECC71;
}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
