html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
.flex{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
.flexWrap{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
.flexVertical{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column;}
.flexAuto{-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;}
html{height:100%;}
body{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column;height:100%;color:#cccccc;}
header{background-color:#3498db;height:50px;}
footer{background-color:#2980b9;height:50px;}
#main{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;}
#toolsContainer{width:200px;}
#toolsContainer .label{-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;color:#34495e;line-height:30px;}
.box{margin:10px;margin-right:0px;padding:10px;border-radius:5px;background-color:#ecf0f1;}
.boxLine{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
.boxLine+.boxLine{margin-top:5px;}
#colorSelected{height:170px;width:170px;}
.colorsBox{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
.colorsBox>div{width:28px;height:28px;}
#colorWhite{-webkit-order:19;-moz-order:19;-ms-order:19;-o-order:19;order:19;width:84px;background-color:white;}
#colorBlack{-webkit-order:20;-moz-order:20;-ms-order:20;-o-order:20;order:20;width:84px;background-color:#2c3e50;}
#colorRed{-webkit-order:7;-moz-order:7;-ms-order:7;-o-order:7;order:7;background-color:#e74c3c;}
#colorYellow{-webkit-order:8;-moz-order:8;-ms-order:8;-o-order:8;order:8;background-color:#f1c40f;}
#colorGreen{-webkit-order:9;-moz-order:9;-ms-order:9;-o-order:9;order:9;background-color:#2ecc71;}
#colorCyan{-webkit-order:10;-moz-order:10;-ms-order:10;-o-order:10;order:10;background-color:#1abc9c;}
#colorBlue{-webkit-order:11;-moz-order:11;-ms-order:11;-o-order:11;order:11;background-color:#3498db;}
#colorMagenta{-webkit-order:12;-moz-order:12;-ms-order:12;-o-order:12;order:12;background-color:#9b59b6;}
#colorLightRed{-webkit-order:1;-moz-order:1;-ms-order:1;-o-order:1;order:1;background-color:#ec7063;}
#colorLightYellow{-webkit-order:2;-moz-order:2;-ms-order:2;-o-order:2;order:2;background-color:#f4d03f;}
#colorLightGreen{-webkit-order:3;-moz-order:3;-ms-order:3;-o-order:3;order:3;background-color:#55d98d;}
#colorLightCyan{-webkit-order:4;-moz-order:4;-ms-order:4;-o-order:4;order:4;background-color:#2fe2bf;}
#colorLightBlue{-webkit-order:5;-moz-order:5;-ms-order:5;-o-order:5;order:5;background-color:#5dade2;}
#colorLightMagenta{-webkit-order:6;-moz-order:6;-ms-order:6;-o-order:6;order:6;background-color:#a572c7;}
#colorDarkRed{-webkit-order:13;-moz-order:13;-ms-order:13;-o-order:13;order:13;background-color:#c0392b;}
#colorDarkYellow{-webkit-order:14;-moz-order:14;-ms-order:14;-o-order:14;order:14;background-color:#f39c12;}
#colorDarkGreen{-webkit-order:15;-moz-order:15;-ms-order:15;-o-order:15;order:15;background-color:#27ae60;}
#colorDarkCyan{-webkit-order:16;-moz-order:16;-ms-order:16;-o-order:16;order:16;background-color:#16a085;}
#colorDarkBlue{-webkit-order:17;-moz-order:17;-ms-order:17;-o-order:17;order:17;background-color:#2980b9;}
#colorDarkMagenta{-webkit-order:18;-moz-order:18;-ms-order:18;-o-order:18;order:18;background-color:#8e44ad;}
.instructionsBox{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
.instructionsBox>div{width:56px;height:30px;color:#34495e;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
#sourcePietContainer{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;min-height:0px;min-width:0px;margin:10px;border:10px solid #ecf0f1;border-radius:5px;overflow-x:auto;}
#sourcePietContainer>.row{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;}
#sourcePietContainer>.row>.cell{-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;min-width:20px;min-height:20px;box-shadow:inset 1px 1px rgba(255, 255, 255, 0.5);border-right:1px solid #ecf0f1;border-bottom:1px solid #ecf0f1;}
.button{background-color:#2ecc71;border-radius:5px;border:0px;color:white;font-family:sans-serif;font-size:10pt;padding:0.5em;text-decoration:none;-webkit-transition:background-color 0.5s;}
.buttonGroup{display:inline-block;font-size:0pt;}
.buttonGroup>.button{border-radius:0px;}
.buttonGroup>.button+.button{border-left:none;}
.buttonGroup>.button:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.buttonGroup>.button:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.button:hover{background-color:#27ae60;}
.button:active{background:#27ae60;}
.button:focus{outline:none;}
[class^="icon-"]{display:inline-block;width:18px;height:18px;background-size:18px;opacity:0.5;vertical-align:middle;}
.icon-add{background-image:url(../img/icon/Batch-master/SVG/add.svg);}
.icon-remove{background-image:url(../img/icon/Batch-master/SVG/remove.svg);}
#sourcePietContainer::-webkit-scrollbar{width:12px;height:12px;}
#sourcePietContainer::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);-webkit-border-radius:10px;border-radius:10px;}
#sourcePietContainer::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px;background:rgba(255, 0, 0, 0.8);-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.5);}
#sourcePietContainer::-webkit-scrollbar-thumb:window-inactive{background:rgba(255, 0, 0, 0.4);}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media only screen and (min-width:35em){}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi){}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
